<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
      {% block header %}
          <table width=100% class="table_all">
              <tr>
                  <th class="table_left">
                      <a href="{{ url_for('index') }}">Home</a>
                      <a href="{{ url_for('register') }}">Register</a>
                      <a href="{{ url_for('login') }}">Login</a>
                  </th>
                  <th class="table_right">
                    {% if user_name == "" %}
                        You are not authorized
                    {% else %}
                        {{ user_name }}
                        <a href="{{ url_for('log_out') }}">
                            log out
                        </a>
                    {% endif %}
                  </th>
              </tr>
          </table>
      {% endblock %}
      <hr>
      <div class="container">
          {% block body %}
          {% endblock %}
      </div>
    </body>
</html>
